/*** Media queries ***/
@media (max-width: 980px) {
  .icon {
    width: 175px;
    height: 175px;
  }
  .icon p {
    font-size: 40px;
  }
  #logo {
    height: 610px;
    width: 610px;
  }

  #barcode {
    font-size: 145px;
  }

  #Logotext {
    font-size: 145px;
  }
}

@media (max-width: 940px) {
  .icon {
    width: 150px;
    height: 150px;
  }
  .icon p {
    font-size: 35px;
  }
  #logo {
    height: 550px;
    width: 550px;
  }

  #barcode {
    font-size: 125px;
  }

  #Logotext {
    font-size: 125px;
  }
}

@media (max-width: 900px) {
  .icon {
    width: 150px;
    height: 150px;
  }
  .icon p {
    font-size: 35px;
  }
  #logo {
    height: 550px;
    width: 550px;
  }

  #barcode {
    font-size: 125px;
  }

  #Logotext {
    font-size: 125px;
  }
}

@media (max-width: 850px) {
  .icon {
    width: 120px;
    height: 120px;
    margin: 55px;
  }
  .icon p {
    font-size: 30px;
    line-height: 1.8rem;
  }
  #logo {
    height: 500px;
    width: 500px;
  }

  #barcode {
    font-size: 115px;
  }

  #Logotext {
    font-size: 115px;
  }
}

@media (max-width: 630px) {
  .icon {
    width: 100px;
    height: 100px;
    margin: 50px;
  }
  .icon p {
    font-size: 25px;
    line-height: 1.5rem;
  }
  #logo {
    height: 400px;
    width: 400px;
  }

  #barcode {
    font-size: 92px;
  }

  #Logotext {
    font-size: 92px;
  }
}

@media (max-width: 510px) {
  .icon {
    width: 90px;
    height: 90px;
    margin: 20px;
  }
  .icon p {
    font-size: 20px;
    line-height: 1rem;
  }
  #logo {
    height: 300px;
    width: 300px;
  }

  #barcode {
    font-size: 70px;
  }
  #Logotext {
    font-size: 70px;
  }
  #reactapp {
    top: 80%;
  }
}

@media (max-width: 400px) {
  .icon {
    width: 70px;
    height: 70px;
  }
  .icon p {
    font-size: 17px;
    line-height: 0.9rem;
  }
  #logo {
    height: 200px;
    width: 200px;
  }
  #barcode {
    font-size: 50px;
  }
  #Logotext {
    font-size: 50px;
  }
  #reactapp {
    top: 72%;
  }
}
