@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap"); /*font-family: "VT323", monospace;*/

body {
  color: #16fce5;
  background-color: #05080d;
  font-family: "VT323", monospace;
  overflow: hidden;
}

video {
  position: absolute;
  width: 99vw;
  height: 99vh;
  background-color: transparent;
  z-index: -5;
}

/*** Loading Screen ***/
#load_screen {
  background-color: #05080d;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

#loading {
  position: absolute;
  z-index: 11;
  color: #16fce5;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 0px;
  font-size: 45px;
}

/*** React Apps ***/
#iconContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  width: 75vw;
  margin: auto;
  height: auto;
  left: 0.5vw;
  z-index: 5;
}

#windowContainer {
  width: 98vw;
  height: 98vh;
}

.hidden {
  display: none;
}

.icon {
  cursor: pointer;
  width: 8vw;
  height: 13vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto calc(10px + 1vw);
  transition: none;
  -webkit-transition: all 0.2s ease-in-out;
}

.icon:hover {
  -webkit-transform: scale(1.1);
  transform: none;
}

.icon img {
  margin: auto;
  margin-bottom: calc(1px + 0.001vh);
  max-width: 65px;
  width: 8vw;
  background-color: transparent;
}

.icon p {
  margin: auto;
  margin-top: calc(1px + 1.3vh);
  text-align: center;
  line-height: 18px;
  font-size: 25px;
}

/*** Logo and Wallpaper ***/
#wallpaper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #05080d;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
}

#wallpaper {
  position: static;
  z-index: -3;
}

#logo {
  position: relative;
  margin: auto;
  width: 80vw;
  height: 55vh;
  max-height: 500px;
  max-width: 658px;
  z-index: 5;
  object-fit: contain;
}

#desktop {
  position: absolute;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98vw;
  height: 80vh;
}
